@model CBN_Online.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_pedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.metodo_pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.metodo_pago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion_envio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion_envio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_pedido">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
